.header {
    width: 100%;
    background-color: rgb(0, 204, 255);
    
}
#profile-pic {
   
    background-position-y: center;
    
}
.top-bar{
    background-color: rgb(0, 204, 255);
    width: 100%
    
}