@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,700&display=swap');


.header {
    width: 100%;
    
}
.profile-pic>* {
    border-radius: 50%;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-user-drag: none;
}
.top-bar{
    background-color: rgb(0, 204, 255);
    width: 100%
    
}
img.logo{
    text-align: center;
}
img.profile-pic{
    font-family: 'Montserrat', sans-serif;
}
.navbar-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.navbar-element > *{
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navbar-element{
    float: left;
}
 
